extends ../base

block variables
  -var title = 'Confirm your income information'

block content

  h1 #{title}

  div
    p Here's what CRA knows about your income for the current tax year (filing for 2018). Additional claims and deductions can be made afterwards.

  div
    table.pure-table
      thead
        tr
          th Total income earned in 2018: $28,000
      tbody
        tr
          td Detailed breakdown of income earned in 2018:
        tr
          td Employer 1 Total Income: 
          td $11,000.00
        tr
          td Employer 1 Net Income: 
          td $10,446.00
        tr
          td Employer 2 Total Income: 
          td $17,000.00
        tr
          td Employer 2 Net Income: 
          td $12,772.00
        tr
          td Total Income for 2018: 
          td $28,000.00
        tr
          td Net Income for 2018: 
          td $23,218.00

  .buttons-row
    a.button-link(href='/deductions/rrsp') Confirm
    a.button-link.transparent(href='/clear') Cancel