extends ../base

block variables
  -var title = 'Confirm your income information'

block content

  h1 #{title}

  div
    p Here's what CRA knows about your income for the current tax year (filing for 2018). Additional claims and deductions can be made afterwards.

  .buttons-row
    a.button-link(href='/deductions/rrsp') Confirm
    a.button-link.transparent(href='/clear') Cancel