* {
  box-sizing: border-box;
}

*:focus {
  @include focus();
}

body {
  margin: 0;
  font-size: 1.3em;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.33;
}

a {
  color: $color-blue-dark;

  &:visited {
    color: $color-purple;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

%page-container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: $space-md;
  padding-right: $space-md;

  @include xl {
    max-width: 1170px;
  }
}

main {
  @extend %page-container;
  padding: 0 $space-md;
  padding-bottom: calc(#{$height-footer} + #{$space-xxl});

  h1 {
    border-bottom: 1px solid $color-red;
  }

  > div {
    margin-bottom: $space-lg;

    @include md {
      width: 90%;
    }

    @include xl {
      width: 80%;
    }
  }
}

li:not(:last-of-type) {
  padding-bottom: $space-xxs;
}

.container {
  position: relative;
  min-height: 100vh;
}

.page--container {
  @extend %page-container;
}

.fip-container {
  flex-direction: column;
  display: flex;

  @include sm {
    justify-content: space-between;
    flex-direction: row;
  }
}

.phase-banner {
  background: #F4F4F4;
}

.phase-banner {
  div {
  @extend %page-container;
  display: flex;
  align-items: flex-start;
  padding-top: $space-sm;
  padding-bottom: $space-sm;
  margin-bottom: $space-md;

  @include sm {
    align-items: center;
  }
  }

  span {
    font-size: 0.5em;

    @include sm {
      font-size: 0.7em;
    }
  }

  span:first-of-type {
    border: 2px $color-black solid;
    padding: 1px 5px;
    letter-spacing: 1px;
    margin-right: 1.7em;

    @include sm {
      padding: 1px 7px;
    }
  }

  span:last-of-type {
    margin-top: 3px;    
    
    @include sm {
      margin-top: 0px;
    }
  }
}

.pure-table {
  width: 100%;

  @include sm {
    width: 80%;
  }

  th {
    border-bottom: 3px solid $color-black;
  }
}

.buttons-row {
  a,
  button {
    margin-right: $space-sm;
  }
}

.visually-hidden {
  @include visuallyHidden();
}
