* {
  box-sizing: border-box;
}

*:focus {
  @include focus();
}

body {
  margin: 0;
  font-size: 1.3em;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.33;
}

a {
  color: $color-blue-dark;

  &:visited {
    color: $color-purple;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

%page-container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: $space-md;
  padding-right: $space-md;

  @include xl {
    max-width: 1170px;
  }
}

main {
  @extend %page-container;
  padding: 0 $space-md;
  padding-bottom: calc(#{$height-footer} + #{$space-xxl});

  h1 {
    border-bottom: 1px solid $color-red;
  }
}

header {
  padding: $space-xs 0 0 0;
  text-align: left;
  font-size: 2em;

  @include sm {
    padding: $space-lg 0 $space-xl 0;
  }

  .canada-flag {
    width: 272px;
    @include xs {
      width: 282px;
    }
    @include sm {
      width: 360px;
    }
  }
}

li:not(:last-of-type) {
  padding-bottom: $space-xxs;
}

summary {
  color: $color-blue-dark;
  cursor: pointer;
  // the little arrow disappears in firefox unless this is set explicitly
  display: list-item;

  // the summary element doesn't appear to accept underlined text
  > span {
    text-decoration: underline;
  }
}

.container {
  position: relative;
  min-height: 100vh;
}

.page--container {
  @extend %page-container;
}
