$footerInnerHeight: 35px;

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 4px solid #284162;
  height: $footerHeight;
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer-links {
    font-size: 0.85em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
    }

    li {
      display: inline-block;
      margin-right: 20px;
    }

    a {
      text-decoration: none;
    }
  }

  .canada-wordmark {
    margin-bottom: 20px;
  }

  @include sm {
    .page--container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      height: $footerInnerHeight;

      .footer-links {
        flex: 2;

        ul {
          // put the footer links on the same baseline as the Canada wordmark
          margin-bottom: -5px;
        }
      }
      .canada-wordmark {
        flex: 1;
        text-align: right;
        margin-bottom: 0;
        max-height: 100%;

        img {
          height: $footerInnerHeight;
        }
      }
    }
  }
}
