%button-styles {
  line-height: 1.1875;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  padding: 7px 10px;
  border-radius: 0;
  color: $color-white;
  background-color: $color-blue-light;
  border: 2px solid $color-blue-light;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

form.pure-form.pure-form-stacked {
  margin: $space-xl 0;

  > div > div:not(.button-left) {
    margin-bottom: $space-lg;
  }

  label,
  label + span {
    margin: 0 0 $space-xs 0;
    font-size: inherit;
  }

  label {
    font-weight: 700;
  }

  input,
  button {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 400;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    vertical-align: top;
  }

  input {
    height: 40px;
    border: 2px solid $color-black;
    margin-top: 0;
    padding: $space-xxs;

    &:focus {
      @include focus();
      border-color: $color-black;
    }
  }

  button {
    @extend %button-styles;
    font-family: 'Noto Sans', sans-serif;
  }

  @include sm {
    .button-left {
      padding-right: $space-xs;
    }
    .button-right {
      padding-left: $space-xs;
    }
  }
}

a.button-link {
  @extend %button-styles;

  &.full-width {
    display: inline-block;
    width: 100%;
  }

  &.transparent {
    color: $color-blue-dark;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
  }
}
