form.pure-form.pure-form-stacked {
  margin-top: $space-xl;
  max-width: 300px;

  @include sm {
    max-width: 400px;

    .w-3-4 {
      width: 75%;
    }
    .w-1-2 {
      width: 50%;
    }
    .w-1-4 {
      width: 24%;
    }
  }
}

form.pure-form.pure-form-stacked {
  > div:not(:last-of-type) {
    margin-bottom: $space-lg;
  }

  .pure-form-message {
    padding: 0;
  }

  label,
  label + span {
    margin: 0 0 $space-xs 0;
    font-size: inherit;
  }

  label {
    font-weight: 700;
  }

  input {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 400;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    vertical-align: top;
  }

  input {
    height: 40px;
    border: 2px solid $color-black;
    margin-top: 0;
    padding: $space-xxs;

    &.has-error {
      border: 2px solid $color-red;
    }

    &:focus {
      @include focus();
      border-color: $color-black;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .buttons--left,
    .buttons--right {
      flex: 1;
    }

    @include sm {
      flex-direction: row;

      .buttons--left {
        margin-right: $space-xs;
      }
      .buttons--right {
        margin-left: $space-xs;
      }
    }
  }
}
