extends ../base

block variables
  -var title = __('Check your marital status')
  -var confirmedMaritalStatus = hasData(data, 'personal.confirmedMaritalStatus') ? data.personal.confirmedMaritalStatus : ''

block content

  h1 #{title}

  div
    table.pure-table
      thead
        tr
          th #{__('Marital status')}
      tbody
        tr
          td
            div #{__(data.personal.maritalStatus)}

  form.cra-form(method='post')
    +radiosYesNo('confirmMaritalStatus', 'Is this correct?', confirmedMaritalStatus)

    input#redirect(name='redirect', type='hidden', value='/deductions/senior-public-transit')

    +formButtons()

