extends ../base

block variables
  -var title = 'Change your Marital Status'

block content

  h1 #{title}

  div
    p Please choose the correct status from the options listed below.

    checked=(data && data.personal.maritalStatus.toLowerCase()=='married')

  div
    fieldset.fieldset
        legend
            p.fieldset__legend Marital Status
        .radios
            .radios__item
                input.radios__input(id="maritalStatusMarried" name="maritalStatus" type="radio" value="Married or common-law" checked=(data && data.personal.maritalStatus.toLowerCase()=='married' || !data))
                label.radios__label(for="maritalStatusMarried") Married or common-law
            .radios__item
                input.radios__input(id="maritalStatusWidowed" name="maritalStatus" type="radio" value="Widowed" checked=(data && data.personal.maritalStatus.toLowerCase()=='widowed'))
                label.radios__label(for="maritalStatusWidowed") Widowed
            .radios__item
                input.radios__input(id="maritalStatusDivorced" name="maritalStatus" type="radio" value="Divorced" checked=(data && data.personal.maritalStatus.toLowerCase()=='divorced'))
                label.radios__label(for="maritalStatusDivorced") Divorced
            .radios__item
                input.radios__input(id="maritalStatusSeparated" name="maritalStatus" type="radio" value="Separated" checked=(data && data.personal.maritalStatus.toLowerCase()=='separated'))
                label.radios__label(for="maritalStatusSeparated") Separated
            .radios__item
                input.radios__input(id="maritalStatusSingle" name="maritalStatus" type="radio" value="Single" checked=(data && data.personal.maritalStatus.toLowerCase()=='single'))
                label.radios__label(for="maritalStatusSingle") Single

  div
    details.
      <summary><span>Help with editing marital status</span></summary>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  .buttons-row
    a.button-link(href='/personal/maritalStatus') Change Marital Status
    a.button-link.transparent(href='/personal/maritalStatus') Cancel
