extends ../base

block variables
  -var title = 'Change your Marital Status'

block content

  h1 #{title}

  div
    p Please choose the correct status from the options listed below.

  - var radioFormOther = {common: { name: 'maritalStatus', dataKey: (data && data.personal && data.personal.maritalStatus ? data.personal.maritalStatus : null) }, values: ['Single','Married','Separated', 'Divorced', 'Widowed']}

  form.cra-form(method='post')
    div
        fieldset.fieldset
            legend.fieldset__legend 
                p Marital Status
        
            include ../_includes/radioButtons.pug
            +radio-buttons(radioFormOther)

            if errors
              span.validation-message #{__(errors.maritalStatus.msg)}
    div
      details.
        <summary><span>Help with editing marital status</span></summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    input#redirect(name='redirect', type='hidden', value='/personal/maritalStatus')

    .buttons
      .buttons--left
        button(type='submit') Change Marital Status
      .buttons--right
        a.button-link.transparent(href='/personal/maritalStatus') Cancel
