extends ../base

block variables
  -var title = 'Change your marital status'
  -var maritalStatus = data.personal.maritalStatus

block content

  h1 #{title}

  div
    p Please choose the correct status from the options listed below.

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.maritalStatus})
        fieldset.fieldset
            legend.fieldset__legend Marital Status
            .radios
                if errors
                  +validationMessage(errors.maritalStatus.msg, 'maritalStatus')
                .radios__item
                    input.radios__input(id="maritalStatusSingle" name="maritalStatus" type="radio" value="Single" checked=(maritalStatus.toLowerCase()=='single') aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label.radios__label(for="maritalStatusSingle") Single
                .radios__item
                    input.radios__input(id="maritalStatusMarried" name="maritalStatus" type="radio" value="Married" checked=(maritalStatus.toLowerCase()=='married' || !data) aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label.radios__label(for="maritalStatusMarried") Married or common-law
                .radios__item
                    input.radios__input(id="maritalStatusSeparated" name="maritalStatus" type="radio" value="Separated" checked=(maritalStatus.toLowerCase()=='separated') aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label.radios__label(for="maritalStatusSeparated") Separated
                .radios__item
                    input.radios__input(id="maritalStatusDivorced" name="maritalStatus" type="radio" value="Divorced" checked=(maritalStatus.toLowerCase()=='divorced') aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label.radios__label(for="maritalStatusDivorced") Divorced
                .radios__item
                    input.radios__input(id="maritalStatusWidowed" name="maritalStatus" type="radio" value="Widowed" checked=(maritalStatus.toLowerCase()=='widowed') aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label.radios__label(for="maritalStatusWidowed") Widowed

    div
      details.
        <summary><span>Help with editing marital status</span></summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    input#redirect(name='redirect', type='hidden', value='/personal/maritalStatus')

    .buttons
      .buttons--left
        button(type='submit') Change Marital Status
      .buttons--right
        a.button-link.transparent(href='/personal/maritalStatus') Cancel
