extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Check your marital status')

block content

  h1 #{title}

  div
    table.pure-table
      thead
        tr
          th #{__('Marital status')}
      tbody
        tr
          td
            div #{__(data.personal.maritalStatus)}

  form.cra-form(method='post')
    +yesNoRadios('confirmMaritalStatus', null, 'Is this correct?', errors)

    input#redirect(name='redirect', type='hidden', value='/deductions/medical')

    +formButtons()

