extends ../base

block variables
  -var title = 'Choose your province or territory of residence'

block content

  h1 #{title}

  div
    p In order to be eligible for this service, you must have lived in Ontario on Dec.31, 2018. Please confirm this below.


  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.residence})
         fieldset.fieldset
            legend.fieldset__legend
                p Did you live in Ontario on Dec.31, 2018?
            .radios
                if errors
                  +validationMessage(errors.residence.msg, 'residence')
                .radios__item
                    input.radios__input(id="residenceYes" name="residence" type="radio" value=true checked=(data && data.personal.residence) aria-describedby=(errors ? 'residence-error' : false))
                    label.radios__label(for="residenceYes") Yes
                .radios__item
                    input.radios__input(id="residenceNo" name="residence" type="radio" value=false checked=(data && data.personal.residence) aria-describedby=(errors ? 'residence-error' : false))
                    label.radios__label(for="residenceNo") No

    div
      details.
        <summary><span>Help with province or territory</span></summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    input#redirect(name='redirect', type='hidden', value='/personal/residence')

    .buttons
      .buttons--left
        button(type='submit') Continue
      .buttons--right
        a.button-link.transparent(href='/personal/residence') Cancel
