extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = 'Confirm you are an Ontario resident'

block content

  h1 #{__(title)}

  div
    p #{__('In order to be eligible for this service, your primary residence on December 31, 2018, must have been in Ontario.')}


  form.cra-form(method='post')
    +yesNoRadios('residence', residence, 'Ontario resident on December 31, 2018?', errors)

    input#redirect(name='redirect', type='hidden', value='/personal/address')

    +formButtons()
