footer
  .page--container
    .footer-links
      ul
        li
          a(href='#') Contact
        li
          a(href='#') Terms and conditions
        li
          a(href='#') Privacy
    .canada-wordmark
      img(src='/img/wmms-blk.svg', alt='Symbol of the Government of Canada')
