extends layout

block content
  .row.h-100
    .col-sm-12.my-auto
      .jumbotron
        h1.display-4 Hello, there!
        p.lead
          | This is a simple expressbase UI route, wild stuff happens when you server side render.
        hr.my-4
        p
          | Its pug under the hood so check out their guide
          a(href="https://pugjs.org/api/getting-started.html") here.
        button Submit


