html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description" content="[WIP] A benefit signup prototype by the Canadian Digital Service")
    link(rel="shortcut icon" href="/favicon.png" type="image/x-icon" sizes="32x32")
    link(rel='stylesheet', href='/styles.css')
    title Hello, world!
  body
    block content
