extends ../base

block variables
  -var title = __('Vote in the federal election')
  -var confirmOptIn = !hasData(data, 'vote.confirmOptIn') ? '' : data.vote.confirmOptIn

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('confirmOptIn', 'Would you like to vote in the federal election?', confirmOptIn)

    input#redirect(name='redirect', type='hidden', value='/login/securityQuestion')

    +formButtons()

