extends ../base

block content

  h1 #{__('Claim Tax Benefits')}

  div
    p Welcome to the Canada Revenue Agency’s new <strong>Claim Tax Benefits</strong> service.
    p #{__('This service is to claim tax benefits online.')} You need to be eligible to use this service.
    p In order to claim tax benefits online, you must have the following:
    ul
      li Your personal access code
      li Social Insurance Number (SIN)
      li Income Information

  div
    a.button-link(href='/login/code' role='button' draggable='false') Start now <span aria-hidden="true">→</span>
