extends ../base

block variables
  -var title = __('The Climate Action Incentive')
  -var climateActionIncentiveIsRural = hasData(data, 'deductions.climateActionIncentiveIsRural') ? data.deductions.climateActionIncentiveIsRural : ''

block content

  h1 #{title}

  div
    p #{__('The Climate Action Incentive (CAI) lowers the amount of tax you pay. It could also increase the money you get back from filing taxes.')}
    div
      details.
        <summary><span>#{__('You live in a small and rural community if you don’t live in:')}</span></summary>
        <p>#{__('Ottawa, Kingston, Belleville, Peterborough, Oshawa, Toronto, Hamilton, St. Catharines-Niagara, Kitchener-Cambridge-Waterloo, Brantford, Guelph, London, Windsor, Barrie, Sudbury, or Thunder Bay.')}</p>

  form.cra-form(method='post')
    +radiosYesNo('climateActionIncentiveIsRural', 'Did you live in a small and rural community in 2018?', climateActionIncentiveIsRural)

    input#redirect(name='redirect', type='hidden', value='/checkAnswers')

    +formButtons()
