extends ../base

block variables
  -var title = __('Enter your charitable donations')
  -var donationsAmount = hasData(data, 'deductions.charitableDonationAmount') & data.deductions.charitableDonationAmount !== 0 ? data.deductions.charitableDonationAmount : ''

block content

  h1 #{title}

  form.cra-form(method='post')
    +textInput('Total donations to registered charities')(class='w-1-2 input-with-unit' name='donationsAmount' placeholder='0.00' aria-labelledby='donationsAmount__unit donationsAmount__label' value=donationsAmount)

    input#redirect(name='redirect', type='hidden', value='/trillium/rent')

    +formButtons('Continue', '/deductions/donations')
