extends ../base

block variables
  -var title = __('Enter your charitable donations')

block content

  h1 #{title}

  div
    p #{__('Please enter your charitable donations into the fields below.')}

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.donationsAmount})
      label#donations__label(for='donationsAmount') #{__('Total donations made to registered charities')}
      if errors
        +validationMessage(errors.donationsAmount.msg, 'donations')
      span#donations__unit.input-with-unit__unit(for='donationsAmount') $
      input.w-1-2.input-with-unit#donations(name='donationsAmount', type='text', placeholder="0.00", autocomplete='off' aria-describedby=(errors && errors.donations ? 'donations-error' : false) aria-labelledby="donations__label donations__unit")

    input#redirect(name='redirect', type='hidden', value='/trillium/rent/amount')

    +formButtons('Continue', '/deductions/donations')
