extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Deduct your Charitable Donations')
  -var donationsClaim = hasData(data, 'deductions.donationsClaim') ? data.deductions.donationsClaim : ''

block content

  h1 #{title}

  div
    p #{__('Did you make any charitable donations during the current tax year (filing for 2018)?')}

  form.cra-form(method='post')
    +yesNoRadios('donationsClaim', donationsClaim, 'Did you make charitable donations?', errors)

    input#redirect(name='redirect', type='hidden', value='/personal/donations-amount')

    .buttons
      .buttons--left
        button(type='submit') #{__('Continue')}
      .buttons--right
        a.button-link.transparent(href='/') #{__('Cancel')}
