extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Deduct your charitable donations')
  -var charitableDonationClaim = !hasData(data, 'deductions.charitableDonationClaim') ? '' : data.deductions.charitableDonationClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  

  div
    p #{__('Did you make any charitable donations in 2018?')}

  form.cra-form(method='post')
    +yesNoRadios('charitableDonationClaim', charitableDonationClaim, 'Did you make charitable donations?', errors)

    input#redirect(name='redirect', type='hidden', value=nextRoute.path)

    +formButtons()
