extends ../base

block variables
  -var title = __('Medical expenses')
  -var medicalExpenseClaim = !hasData(data, 'deductions.medicalExpenseClaim') ? '' : data.deductions.medicalExpenseClaim ? 'Yes': 'No'

block content

  h1 #{title}

  div
    p #{__('You can claim medical expenses for your self, spouse or common-law partner, and dependent children born after 2001.')}

  form.cra-form(method='post')
    +radiosYesNo('medicalExpenseClaim', 'Would you like to claim medical expenses?', medicalExpenseClaim)

    input#redirect(name='redirect', type='hidden', value='/deductions/political')

    +formButtons()
