extends ../base

block variables
  -var title = __('Enter your political contributions')
  -var politicalFederalAmount = hasData(data, 'deductions.politicalFederalAmount') & data.deductions.politicalFederalAmount !== 0 ? data.deductions.politicalFederalAmount : ''
  -var politicalProvincialAmount = hasData(data, 'deductions.politicalProvincialAmount') & data.deductions.politicalProvincialAmount !== 0 ? data.deductions.politicalProvincialAmount : ''

block content

  h1 #{title}

  div
    p #{__('Please enter your political contributions into the fields below.')}

  form.cra-form(method='post')
    +textInput('Total federal contributions')(class='w-1-2 input-with-unit' name='politicalFederalAmount' placeholder='0.00' aria-labelledby='politicalFederalAmount__unit politicalFederalAmount__label' value=politicalFederalAmount)

    +textInput('Total provincial contributions')(class='w-1-2 input-with-unit' name='politicalProvincialAmount' placeholder='0.00' aria-labelledby='politicalProvincialAmount__unit politicalProvincialAmount__label' value=politicalProvincialAmount)

    input#redirect(name='redirect', type='hidden', value='/deductions/donations')

    +formButtons('Continue', '/deductions/political')
