extends ../base

block variables
  -var title = __('Enter your RRSP contributions')
  -var rrspAmount = hasData(data, 'deductions.rrspAmount.amount') && data.deductions.rrspAmount.amount !== 0 ? data.deductions.rrspAmount.amount : ''

block content

  h1 #{title}

  div
    p #{__('Please enter your RRSP contributions before March 1, 2019.')}

  form.cra-form(method='post')
    +textInput('Total RRSP contributions')(class='w-1-2 input-with-unit' name='rrspAmount' placeholder='0.00' aria-labelledby='rrspAmount__unit rrspAmount__label' value=rrspAmount autofocus)

    input#redirect(name='redirect', type='hidden', value='/personal/maritalStatus')

    +formButtons('Continue', '/deductions/rrsp')
