extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = 'Deduct your RRSP contributions'
  -var rrspClaim = hasData(data, 'deductions.rrspClaim') ? data.deductions.rrspClaim : ''

block content

  h1 #{__(title)}

  div
    p #{__('If you made RRSP contributions before March 1, 2019, you can deduct them from your total income.')}

  form.cra-form(method='post')
    +yesNoRadios('rrspClaim', rrspClaim, 'Did you contribute to an RRSP?', errors)

    div
      details.
        <summary><span>#{__('Help with RRSP contributions')}</span></summary>
        <p>#{__('March 1, 2019, is the deadline for contributing to your RRSP for amounts you want to deduct on your 2018 income tax and benefit return.')}</p>

    input#redirect(name='redirect', type='hidden', value='/personal/maritalStatus')

    +formButtons()
