extends ../base

block variables
  -var title = __('Registered Retirement Savings Plan (RRSP) contributions')
  -var rrspClaim = hasData(data, 'deductions.rrspClaim') ? data.deductions.rrspClaim : ''

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('rrspClaim', 'Did you contribute to a Registered Retirement Savings Plan (RRSP) before March 1, 2019?', rrspClaim)

    div
      a(href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/rrsps-related-plans/registered-retirement-savings-plan-rrsp.html" target="_blank") #{__('Learn about RRSPs')}

    input#redirect(name='redirect', type='hidden', value='/deductions/medical')

    +formButtons()
