extends ../base

block variables
  -var title = __('Enter your RRSP contributions')
  -var rrspAmount = hasData(data, 'deductions.rrspAmount') && data.deductions.rrspAmount !== 0 ? data.deductions.rrspAmount : ''

block content

  h1 #{title}

  div
    p #{__('Please enter your RRSP contributions for the current tax year (filing for 2018)')}

  form.cra-form(method='post')
    +textInput('Total RRSP contributions')(class='w-1-2 input-with-unit' name='rrspAmount' placeholder='0.00' aria-labelledby='rrspAmount__unit rrspAmount__label' value=rrspAmount)

    input#redirect(name='redirect', type='hidden', value='/personal/maritalStatus')

    +formButtons('Continue', '/deductions/rrsp')
