extends ../base

block variables
  -var title = __('Enter your RRSP contributions')

block content

  h1 #{title}

  div
    p #{__('Please enter your RRSP contributions for the current tax year (filing for 2018)')}

  form.cra-form(method='post')
    +textInputUnit(null, ['w-1-2'], 'rrspAmount', 'Total RRSP contributions', null, null, '$', '0.00')

    input#redirect(name='redirect', type='hidden', value='/personal/maritalStatus')

    +formButtons('Continue', '/deductions/rrsp')
