extends ../base

block variables
  -var title = __('Enter your RRSP contributions')

block content

  h1 #{title}

  div
    p #{__('Please enter your RRSP contributions for the current tax year (filing for 2018)')}

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.code})
      label(for='rrspAmount') Total RRSP contributions
      if errors
        +validationMessage(errors.rrspAmount.msg, 'rrspAmount')
      label.input-with-unit--unit(for='rrspAmount') $
      input.w-1-2.input-with-unit#rrspAmount(name='rrspAmount', type='text', value="0.00", autocomplete='off' aria-describedby=(errors && errors.rrspAmount ? 'rrspAmount-error' : false))

    div
      details.
        <summary><span>Help with RRSP contributions</span></summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    input#redirect(name='redirect', type='hidden', value='/deductions/medical')

    .buttons
      .buttons--left
        button(type='submit') Continue
      .buttons--right
        a.button-link.transparent(href='/deductions/rrsp') Cancel
