extends ../base

block variables
  -var title = __('Enter your total 2019 transit costs ')
  -var seniorTransitAmount = hasData(data, 'deductions.seniorTransitAmount') && data.deductions.seniorTransitAmount !== 0 ? data.deductions.seniorTransitAmount : ''
  -var placeholder= currencyWithoutUnit(getLocale())
  -var formattedValue= currencyWithoutUnit(getLocale(), seniorTransitAmount)

block content

  h1 #{title}

  div
    p #{__('The government might ask for your transit receipts.')}

  form.cra-form(method='post')
    +textInput('Total amount spent on public transit')(class='w-1-2 input-with-unit' name='seniorTransitAmount' placeholder=placeholder aria-labelledby='seniorTransitAmount__unit seniorTransitAmount__label' value=formattedValue)

    input#redirect(name='redirect', type='hidden', value='/trillium/rent')

    +formButtons('Continue')
