extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Deduct your property tax')
  -var trilliumPropertyTaxClaim = !hasData(data, 'deductions.trilliumPropertyTaxClaim') ? '' : data.deductions.trilliumPropertyTaxClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  

  div
    p #{__('If you paid property tax in 2018, you may be entitled to receive credits from your')} <strong>#{__('Ontario Trillium Benefit')}</strong>.

  form.cra-form(method='post')
    +yesNoRadios('trilliumPropertyTaxClaim', trilliumPropertyTaxClaim, 'Did you pay property tax in 2018?', errors)

    input#redirect(name='redirect', type='hidden', value='/trillium/studentResidence')

    +formButtons()
