extends ../base

block variables
  -var title = __('Home energy costs on reserve')
  -var trilliumEnergyCostClaim = !hasData(data, 'deductions.trilliumEnergyCostClaim') ? '' : data.deductions.trilliumEnergyCostClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('trilliumEnergyCostClaim', 'In 2018, when you lived on an Ontario reserve, did you pay home energy costs, for example, to heat or cool your home, or use appliances like a stove or fridge?', trilliumEnergyCostClaim)

    input#redirect(name='redirect', type='hidden', value='/deductions/climate-action-incentive')

    +formButtons()
