extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Designated student residence')
  -var trilliumStudentResidence = !hasData(data, 'deductions.trilliumStudentResidence') ? null : data.deductions.trilliumStudentResidence === true ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +yesNoRadios('trilliumStudentResidence', trilliumStudentResidence, 'Did you live in a designated student residence in 2018?', errors)

    input#redirect(name='redirect', type='hidden', value='/trillium/energy/amount')

    +formButtons()
