extends ../base

block variables
  -var title = __('Apply for OTB: home energy costs on reserve')
  -var trilliumEnergyClaim = !hasData(data, 'deductions.trilliumEnergyClaim') ? '' : data.deductions.trilliumEnergyClaim ? 'Yes' : 'No'

block content

  h1 #{title}



  div
    p #{__('Home energy costs are paid to heat or cool your home, or use appliances like a stove or fridge.')}</strong>.

  form.cra-form(method='post')
    +radiosYesNo('trilliumEnergyClaim', 'In 2018, did you live on a reserve and pay home energy costs?', trilliumEnergyClaim)

    input#redirect(name='redirect', type='hidden', value='/trillium/longTermCare')

    +formButtons()
