extends ../base

block variables
  -var title = __('Home on reserve in Ontario')
  -var trilliumEnergyReserveOntario = !hasData(data, 'deductions.trilliumEnergyReserveOntario') ? '' : data.deductions.trilliumEnergyReserveOntario ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('trilliumEnergyReserveOntario', 'Was the reserve in Ontario?', trilliumEnergyReserveOntario)

    input#redirect(name='redirect', type='hidden', value='/vote/optIn')

    +formButtons()
