extends ../base

block variables
  -var title = __('Enter home energy costs on a reserve in 2018')
  -var trilliumEnergyAmount = hasData(data, 'deductions.trilliumEnergyAmount') && data.deductions.trilliumEnergyAmount !== 0 ? data.deductions.trilliumEnergyAmount : ''

block content

  h1 #{title}

  include ../_includes/backButton

  div
    p #{__('Please enter your home energy costs for your principal residence on a reserve in 2018.')}

    p #{__('Please note you may be asked to provide receipts to verify this information later.')}

  form.cra-form(method='post')
    +textInput('Home energy costs on a reserve in 2018')(class='w-1-2 input-with-unit' name='trilliumEnergyAmount' placeholder='0.00' aria-labelledby='trilliumEnergyAmount__unit trilliumEnergyAmount__label' value=trilliumEnergyAmount)

    input#redirect(name='redirect', type='hidden', value='/trillium/longTermCare')

    +formButtons('Continue')
