extends ../base

block variables
  -var title = __('Home on reserve')
  -var trilliumEnergyReserveClaim = !hasData(data, 'deductions.trilliumReserveClaim') ? '' : data.deductions.trilliumEnergyReserveClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('trilliumEnergyReserveClaim', 'Did a charity, city, First Nations, or similar organization manage your long-term care home?', trilliumEnergyReserveClaim)

    input#redirect(name='redirect', type='hidden', value='/trillium/energy/cost')

    +formButtons()
