extends ../base

block variables
  -var title = __('Home energy costs on reserve')
  -var trilliumEnergyCostClaim = !hasData(data, 'deductions.trilliumEnergyCostClaim') ? '' : data.deductions.trilliumEnergyCostClaim ? 'Yes' : 'No'

block content

  h1 #{title}



  div
    p #{__('Home energy costs are paid to heat or cool your home, or use appliances like a stove or fridge.')}</strong>

  form.cra-form(method='post')
    +radiosYesNo('trilliumEnergyCostClaim', 'In 2018, did you pay energy costs for your home on reserve?', trilliumEnergyCostClaim)

    input#redirect(name='redirect', type='hidden', value='/trillium/longTermCare')

    input(type='hidden', name="_csrf", value=csrfToken)

    +formButtons()
