extends ../base

block variables
  -var title = __('Apply for OTB: rent payments')
  -var trilliumRentClaim = !hasData(data, 'deductions.trilliumRentClaim') ? '' : data.deductions.trilliumRentClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +yesNoRadios('trilliumRentClaim', trilliumRentClaim, 'Did you pay rent for the place you lived most of 2018?', errors)

    input#redirect(name='redirect', type='hidden', value='/trillium/propertyTax')

    +formButtons()
