extends ../base

block variables
  -var title = __('Home on reserve')
  -var trilliumEnergyReserveClaim = !hasData(data, 'deductions.trilliumEnergyReserveClaim') ? '' : data.deductions.trilliumEnergyReserveClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('trilliumEnergyReserveClaim', 'At any time in 2018, was your principal residence on a reserve?', trilliumEnergyReserveClaim)

    include ../_includes/principalResidence

    input#redirect(name='redirect', type='hidden', value='/deductions/climate-action-incentive')

    +formButtons()
