extends ../base

block variables
  -var title = __('Long-term care home')
  -var trilliumLongTermCareClaim = !hasData(data, 'deductions.trilliumLongTermCareClaim') ? '' : data.deductions.trilliumLongTermCareClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  div
    p #{__('You may live in a long-term care home or facility if costs such as nursing or personal support are combined with your rent.')}

  form.cra-form(method='post')
    +radiosYesNo('trilliumLongTermCareClaim', 'Did you live in a long-term care home in 2018?', trilliumLongTermCareClaim)

    input#redirect(name='redirect', type='hidden', value='/trillium/energy/reserve')

    +formButtons()
