extends ../base

block variables
  -var title = __('Apply for OTB: property tax')
  -var trilliumPropertyTaxClaim = !hasData(data, 'deductions.trilliumPropertyTaxClaim') ? '' : data.deductions.trilliumPropertyTaxClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +yesNoRadios('trilliumPropertyTaxClaim', trilliumPropertyTaxClaim, 'Did you pay property tax for the place you lived most of 2018?', errors)

    input#redirect(name='redirect', type='hidden', value='/trillium/studentResidence')

    +formButtons()
