extends ../base

block variables
  -var title = __('Home on reserve')
  -var trilliumEnergyReserveClaim = !hasData(data, 'deductions.trilliumReserveClaim') ? '' : data.deductions.trilliumEnergyReserveClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('trilliumEnergyReserveClaim', 'In 2018, did you live on a reserve?', trilliumEnergyReserveClaim)

    input#redirect(name='redirect', type='hidden', value='/trillium/longTermCare')

    +formButtons()
