extends ../base

block variables
  -var title = __('Enter your long-term care home costs')
  -var trilliumLongTermCareAmount = hasData(data, 'deductions.trilliumLongTermCareAmount') && data.deductions.trilliumLongTermCareAmount !== 0 ? data.deductions.trilliumLongTermCareAmount : ''
  -var placeholder= currencyFilter(0, getLocale()).replace('$', '')

block content

  h1 #{title}

  

  div
    p #{__('The government might ask for your long-term care receipts.')}

  form.cra-form(method='post')
    +textInput('How much were your total long-term care costs in 2018?')(class='w-1-2 input-with-unit' name='trilliumLongTermCareAmount' placeholder=placeholder aria-labelledby='trilliumLongTermCareAmount__unit trilliumLongTermCareAmount__label' value=trilliumLongTermCareAmount)

    input#redirect(name='redirect', type='hidden', value='/deductions/climate-action-incentive')

    +formButtons('Continue')
