extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Deduct your rent payments')
  -var trilliumRentClaim = !hasData(data, 'deductions.trilliumRentClaim') ? '' : data.deductions.trilliumRentClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  

  div
    p #{__('If you paid rent in 2018, you may be entitled to receive more credits from your')} <strong>#{__('Ontario Trillium Benefit')}</strong>.

  form.cra-form(method='post')
    +yesNoRadios('trilliumRentClaim', trilliumRentClaim, 'Did you pay rent in 2018?', errors)

    input#redirect(name='redirect', type='hidden', value='/trillium/propertyTax')

    +formButtons()
