extends ../base

block variables
  -var title = __('Property tax')
  -var trilliumPropertyTaxClaim = !hasData(data, 'deductions.trilliumPropertyTaxClaim') ? '' : data.deductions.trilliumPropertyTaxClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('trilliumPropertyTaxClaim', 'Did you pay property tax for the place you lived most of 2018?', trilliumPropertyTaxClaim)

    input#redirect(name='redirect', type='hidden', value='/trillium/energy/reserve')

    +formButtons()
