extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Deduct your home energy costs on a reserve')
  -var trilliumEnergyClaim = !hasData(data, 'deductions.trilliumEnergyClaim') ? '' : data.deductions.trilliumEnergyClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  include ../_includes/backButton

  div
    p #{__('If you lived on a reserve and had home energy costs in 2018, you may be entitled to receive credits from your')} <strong>#{__('Ontario Trillium Benefit')}</strong>.

  form.cra-form(method='post')
    +yesNoRadios('trilliumEnergyClaim', trilliumEnergyClaim, 'Did you live on a reserve and have home energy costs 2018?', errors)

    input#redirect(name='redirect', type='hidden', value='/trillium/longTermCare/amount')

    +formButtons()
