extends ../base

block variables
  -var title = __('Long-term care home')
  -var trilliumLongTermCareClaim = !hasData(data, 'deductions.trilliumLongTermCareClaim') ? '' : data.deductions.trilliumLongTermCareClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('trilliumLongTermCareClaim', 'At any time in 2019, was your principal residence in long-term care where your costs included  nursing or personal support as well as room and board?', trilliumLongTermCareClaim)

    include ../_includes/principalResidence

    input#redirect(name='redirect', type='hidden', value='/trillium/energy/reserve')

    +formButtons()
