extends ../base

block variables
  -var title = __('Rent')
  -var trilliumRentClaim = !hasData(data, 'deductions.trilliumRentClaim') ? '' : data.deductions.trilliumRentClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('trilliumRentClaim', 'Did you pay rent for the place you lived most of 2018?', trilliumRentClaim)

    input#redirect(name='redirect', type='hidden', value='/trillium/propertyTax')

    input(type='hidden', name="_csrf", value=csrfToken)

    +formButtons()
