extends ../base

block variables
  -var title = __('Confirm your most recent benefit payment')

block content

  h1 #{title}

  div
    p #{__('Before we can update your information, we need to ask a further question to verify your identity.')}

    p #{__('Please enter the most recent benefit payment you received. If it matches our records, you will be able to update your information on the next page.')}

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.auth})
      label#auth__label(for='auth') #{__('Enter your most recent benefit payment')}
      if errors
        +validationMessage(errors.auth.msg, 'auth')
      span#auth__unit.input-with-unit__unit(for='auth') $
      input.w-1-2.input-with-unit#auth(name='auth', autofocus, type='text', placeholder="0.00", autocomplete='off' aria-describedby=(errors && errors.auth ? 'auth-error' : false) aria-labelledby="auth__label auth__unit")

    +formButtons()
