extends ../base

block content

  h1 #{title}

  p Your personal access code is the 8 character code found in your notification letter.

    form.pure-form.pure-form-stacked(method='post')
      .pure-u-4-5.pure-u-sm-1-2.pure-u-md-1-3
        div
          label(for='code') Personal access code
          span.pure-form-message For Example: A23XGY12
          input#code(name='code', type='text', value=data.code, autocomplete='off')

        .button-left.pure-u-1.pure-u-sm-1-2
          button(type='submit') Continue
        .button-right.pure-u-1.pure-u-sm-1-2
          a.button-link.transparent.full-width(href='/start') Cancel
