extends ../base

block variables
  -var title = 'Enter your personal access code'

block content

  h1 #{title}

  div
    p Your personal access code is the 8 character code found in your notification letter.

  div
    form.cra-form(method='post')
      div
        label(for='code') Personal access code
        span.cra-form-message For Example: QWER1234
        input.w-3-4#code(class={['has-error']: errors && errors.code} name='code', type='text', value=data.code, autocomplete='off' aria-describedby=(errors && errors.code ? 'code_error' : false))
        if errors
          span.validation-message #{__(errors.code.msg)}

      div
        details.
          <summary><span>Help with personal access code</span></summary>
          <p>Your code is on the personally-addressed letter. It is case insensitive.</p>

      input#redirect(name='redirect', type='hidden', value='/login/sin')

      .buttons
        .buttons--left
          button(type='submit') Continue
        .buttons--right
          a.button-link.transparent.full-width(href='/clear') Cancel
