extends ../base

block variables
  -var title = __('Age 65 and above')
  -var ageYesNo = hasData(data, 'login.ageYesNo') ? data.login.ageYesNo : ''

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('ageYesNo', 'On December 31, 2019, were you age 65 or older?', ageYesNo)

    input#redirect(name='redirect', type='hidden', value='/eligibility/taxable-income')

    +formButtons('Continue', '/cancel?back=/eligibility/age')