extends ../base

block variables
  -var title = __('Check if you may use this service - income sources')
  -var income = hasData(data, 'login.income') ? data.login.income : ''

block content

  +stepper('4','4')

  h1.stepperH1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('income', 'Did any of your 2018 income come from your own business, self-employment, renting property, investments, or from sources outside Canada?')

    input#redirect(name='redirect', type='hidden', value='/login/code')

    +formButtons()