extends ../base

block variables
  -var title = __('Province or territory of home address')
  -var residenceScreening = hasData(data, 'login.residenceScreening') ? data.login.residenceScreening : ''

block content

  +stepper('Screening questions', '2', '7')

  h1.stepperH1 #{title}
  
  form.cra-form(method='post')
    +radiosYesNo('residenceScreening', 'On December 31, 2018, was your home address in Ontario?')

    input#redirect(name='redirect', type='hidden', value='/eligibility/children')

    +formButtons()