extends ../base

block variables
  -var title = __('Taxable income')
  -var taxableIncome = hasData(data, 'login.taxableIncome') ? data.login.taxableIncome : ''

block content
  +stepper('Screening questions', '1', '7')

  h1.stepperH1 #{title}

  form.cra-form(method='post')
    if(data.login.ageYesNo === 'Yes')
      +radiosYesNo('taxableIncome', 'Was your 2019 taxable income $19,563 or less?')
    else
      +radiosYesNo('taxableIncome', 'Was your 2019 taxable income $12,069 or less?')

    input#redirect(name='redirect' type='hidden' value='/eligibility/residence')

    +formButtons()