extends ../base

block variables
  -var title = __('Eligible dependants')
  -var eligibleDependents = hasData(data, 'login.eligibleDependents') ? data.login.eligibleDependents : ''

block content

  h1 #{title}

  div
    p #{__('An “eligible dependant” may be a family member who usually lives with you and depends on your support, for example with food, shelter, or clothing.')}

  form.cra-form(method='post')
    +radiosYesNo('eligibleDependents', 'Do you have any eligible dependants?', eligibleDependents)

    input#redirect(name='redirect', type='hidden', value='/eligibility/tuition')

    div 
      <a href=#{__('https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/line-305-amount-eligible-dependant/you-claim-amount-eligible-dependant-line-305.html')}>#{__('Learn about eligible dependants')}</a> 

    +formButtons()