extends ../base

block variables
  -var title = __('Children under 18')
  -var children = hasData(data, 'login.children') ? data.login.children : ''

block content

  +stepper('3', '7')

  h1 #{title}
  
  form.cra-form(method='post')
    +radiosYesNo('children', 'Do you have a child or children under age 18?', children)

    input#redirect(name='redirect', type='hidden', value='/eligibility/dependents')

    +formButtons()