extends ../base

block variables
  -var title = __('2019 income')
  -var taxableIncome = hasData(data, 'login.taxableIncome') ? data.login.taxableIncome : ''

block content
  +stepper('1', '7')

  h1 #{title}

  form.cra-form(method='post')
    if(data.login.ageYesNo === 'No')
      +radiosYesNo('taxableIncome', 'Was your 2019 income less than $12,070?', taxableIncome)
    else
      +radiosYesNo('taxableIncome', 'Was your 2019 income less than $19,564?', taxableIncome)

    input#redirect(name='redirect' type='hidden' value='/eligibility/residence')

    +formButtons()