extends ../base

block variables
  -var title = __('Check if you may use this service - children')
  -var children = hasData(data, 'login.children') ? data.login.children : ''

block content

  +stepper('1','4')

  h1.stepperH1 #{title}
  
  form.cra-form(method='post')
    +radiosYesNo('children', 'Do you have a child or children under age 18?')

    input#redirect(name='redirect', type='hidden', value='/eligibility/dependents')

    +formButtons()