extends ../base

block variables
  -var title = __('Notice of assessment')
  -var noticeOfAssessment = !hasData(data, 'login.noticeOfAssessment') ? '' : data.login.noticeOfAssessment ? 'Yes' : 'No'

block content

  h1 #{title}

  div
    p #{__('CRA sends your notice of assessment about 2 weeks after you file taxes.')}
    p #{__('You can download the notice immediately after filing by answering security questions. You will be able to print or save the downloaded notice.')}
    p #{__('The questions ask for information such as your previous addresses and banking details. You may need to check your records to find the answers.')}

  form.cra-form(method='post')
    +radiosYesNo('noticeOfAssessment', 'Do you want to answer security questions?', noticeOfAssessment)

    input#redirect(name='redirect', type='hidden', value='/checkAnswers')

    +formButtons()
