extends ../base

block variables
  -var title = __('Choose a security question')
  -var securityQuestion = hasData(data, 'login.securityQuestion') ? data.login.securityQuestion : ''

block content

  h1 #{title}

  div
    p #{__('Answer a question from the list below:')}

  form.cra-form.cra-form--lg(method='post')
    +radios('securityQuestion', 'Select 1 question to answer from the list below', securityQuestion,[
      {value: "/login/questions/child", label: "Your child’s name and birthdate"},
      {value: "/login/questions/addresses", label: "Your last two mailing addresses before your current address"},
      {value: "/login/questions/prison", label: "Your date of entry or release from prison"},
      {value: "/login/questions/trillium", label: "Your Ontario Trillium Benefit amount and payment type"},
      {value: "/login/questions/bankruptcy", label: "Details of your bankruptcy assignment"}
    ])

    div
      details.
        <summary><span>#{__('I can’t answer these questions')}</span></summary>
        <p>#{__('If you can’t answer these questions, continue to the next page for different questions.')}</p>

    +formButtons()
