extends ../base

block variables
  -var title = __('Choose a security question')
  -var securityQuestion = hasData(data, 'login.securityQuestion') ? data.login.securityQuestion : ''

block content

  h1 #{title}

  form.cra-form.cra-form--lg(method='post')
    +radios('securityQuestion', 'Answer a question from the list below', securityQuestion,[
      {value: "/login/questions/child", label: "Your child’s name and birthdate"},
      {value: "/login/questions/addresses", label: "Your last two mailing addresses before your current address"},
      {value: "/login/questions/prison", label: "Your date of entry or release from prison"},
      {value: "/login/questions/trillium", label: "Your Ontario Trillium Benefit amount and payment type"},
      {value: "/login/questions/bankruptcy", label: "Details of your bankruptcy assignment"}
    ])

    div
      p
        a(href="/login/securityQuestion2") #{__('I can’t answer these questions')}

    +formButtons()
