extends ../base

block variables
  -var title = 'Enter your Social Insurance Number (SIN)'

block content

  h1 #{title}

  p Now that we have your personal code, we need some additional information in order to verify that it’s you.

  p Please enter your Social Insurance Number (SIN) in the field below.

    form.pure-form.pure-form-stacked(method='post')
      .pure-u-4-5.pure-u-sm-1-2.pure-u-md-1-3
        div
          label(for='sin') Social Insurance Number
          span.pure-form-message For Example: 123 456 789
          input#sin(name='sin', type='text', value=data.sin, autocomplete='off')

        div
          details.
            <summary><span>Help with Social Insurance Number (SIN)</span></summary>
            <p>This is sample text that should be changed</p>

        input#redirect(name='redirect', type='hidden', value='/login/success')

        .button-left.pure-u-1.pure-u-sm-1-2
          button(type='submit') Continue
        .button-right.pure-u-1.pure-u-sm-1-2
          a.button-link.transparent.full-width(href='/clear') Cancel
