div.error-list-wrapper(role='alert')
    if (Object.keys(errors).length > 1)
        h3 Please correct the #{Object.keys(errors).length} errors on the page
    else
        h3 Please correct the error on the page
    ol#formErrors.error-list
        each error in errors
            li.error-list__error
                a(class='error-list__link' id=error.param+'_error' href='#'+error.param) #{error.msg}