footer
  .page--container
    .footer-links
      ul
        li
          a(href='#') #{__('Contact')}
        li
          a(href='#') #{__('Terms and conditions')}
        li
          a(href='#') #{__('Privacy')}
    .canada-wordmark
      img(src='/img/wmms-blk.svg', alt=__('Symbol of the Government of Canada'))
