include ../_includes/banner

offramp-banner
  +banner('red')
    p <strong>#{__('Survey Instructions:')}</strong> #{__('If you are finished, ')} <a href="/offramp/confirmation">#{__('click here')}</a>.
