div
  details.
    <summary><span>#{__('Learn about principal residence')}</span></summary>
    <p>#{__('Your “principal residence” is your main home, where you usually lived.')}</p>

    <p>#{__('You can have more than one principal residence during the year, but only one at a time. If you paid costs for several homes at the same time, only include costs for your principal residence.')}</p>