div
  details.
    <summary><span>#{__('Learn about rent receipts')}</span></summary>
    <p>#{__('In Ontario, your landlord must give receipts for your payments if you ask for them. The law says landlords cannot charge for receipts. Learn about this law at')} <a href=#{__('http://www.sjto.gov.on.ca/ltb/faqs/#faq3')}>http://www.sjto.gov.on.ca/ltb/faqs/#faq3</a></p>