- var page = currentRoute

if page === "/personal/name" 
  - var text = "For the purposes of this survey, please imagine that you see your own name on this page."
else if page === "/login/sin"
  - var text = "Please enter 000 000 000 as your SIN number."
else if page === "/financial/income"
  - var text = "For the purposes of this survey, please imagine that you see your own employers and income amounts listed on this page."
else if page === "/personal/address"
  - var text = "For the purposes of this survey, please imagine that you see your own address on this page."
else if page === "/login/dateOfBirth"
  - var text = "Please enter 08 01 1974 as your date of birth."

if page === "/personal/name" || page === "/financial/income" || page === "/personal/address" || page === "/login/sin" || page === "/login/dateOfBirth"
  .survey-banner
    div
      p <span>#{__('Survey instructions:')}</span> #{__(text)}