extends ../../base

block variables
  -var title = __('Details of your CRA Canada Child Benefit (CCB)')
  -var ccbYear = hasData(body, 'ccbYear') ? body.ccbYear : ''
  -var ccbAmount = hasData(body, 'ccbAmount') ? body.ccbAmount : ''

block content

  h1 #{title}

  form.cra-form(method='post')
    +textInput('Enter year')(class='w-1-4' name='ccbYear' value=ccbYear )
    +textInput('Enter amount of Family Net Income on your CCB letter')(class='w-3-5 input-with-unit' name='ccbAmount' placeholder='0.00' aria-labelledby='ccbAmount__unit ccbAmount__label' value=ccbAmount)

    input#redirect(name='redirect', type='hidden', value='/financial/income')

    +formButtons('Continue')