extends ../../base

block variables
  -var title = __('Check your papers from any year you filed taxes')
  -var taxReturnYear = hasData(body, 'taxReturnYear') ? body.taxReturnYear : ''
  -var taxReturnAmount = hasData(body, 'taxReturnAmount') ? taxReturnAmount : ''


block content

  h1 #{title}

  form.cra-form(method='post')
    +textInput('Enter year of tax filing', 'w-1-2', null)(class='w-3-4' name='taxReturnYear' value=taxReturnYear )
    +textInput('Enter your total income on line 101 for that year:', ['w-3-4'])(class='w-3-4 input-with-unit' name='taxReturnAmount' placeholder='0.00' aria-labelledby='taxReturnAmount__unit taxReturnAmount__label' value=taxReturnAmount)


    input#redirect(name='redirect', type='hidden', value='/financial/income')

    +formButtons('Continue')