extends ../../base

block variables
  -var title = __('Enter details of your TFSA contribution')
  -var tfsaYear = hasData(body, 'tfsaYear') ? body.tfsaYear : ''
  -var tfsaAmount = hasData(body, 'tfsaAmount') ? body.tfsaAmount : ''

block content

  h1 #{title}

  form.cra-form(method='post')
    +textInput('Enter any year you contributed to your TFSA')(class='w-1-4' name='tfsaYear' value=tfsaYear )
    +textInput('Enter amount contributed in the year you listed above')(class='w-3-5 input-with-unit' name='tfsaAmount' placeholder='0.00' aria-labelledby='tfsaAmount__unit tfsaAmount__label' value=tfsaAmount)

    input#redirect(name='redirect', type='hidden', value='/financial/income')

    +formButtons('Continue')