extends ../../base

block variables
  -var title = __('Ontario Trillium Benefit amount and payment type')
  -var trilliumAmount = hasData(body, 'trilliumAmount') ? body.trilliumAmount : ''
  -var trilliumPaymentMethod = hasData(body, 'trilliumPaymentMethod') ? body.trilliumPaymentMethod : ''

block content

  h1 #{title}

  form.cra-form.cra-form--lg(method='post')

    +radios('trilliumPaymentMethod', 'How do you get your Ontario Trillium Benefit?', trilliumPaymentMethod,[
        {value: "cheque", label: "Cheque"},
        {value: "directDeposit", label: "Direct deposit"}
    ])

    +textInput('How much did you get each month from your Ontario Trillium Benefit?', ['w-3-4'])(class='w-1-2 input-with-unit' name='trilliumAmount' placeholder='0.00' aria-labelledby='trilliumAmount__unit trilliumAmount__label' value=trilliumAmount)

    input#redirect(name='redirect', type='hidden', value='/personal/name')

    +formButtons('Continue')
