.breakdown-table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: none;
  margin-bottom: $space-xxl;

  td, th:not([class]) {
    padding: 10px 28px;
  }

  tr td:last-child,
  tr th.breakdown-table__heading:last-child  {
    text-align: right;
  }

  tr:not(:first-child) {
    border-left: 2px solid $color-grey-light;
  }

  .space-row {
    &:last-of-type td {
      padding-top: $space-xxl;
    }

    td {
      padding-top: $space-xl;
    }
  }

  &__heading {
    text-align: left;
    background: $color-grey-light;
    padding: 28px;
    font-size: 1.75rem;
    font-weight: 700;
  }

  &__subheading {
    text-align: left;
    font-weight: 400;
    padding: 10px 28px;
    padding-bottom: $space-md;
  }

  &__summary-row {
    font-weight: 700;
  }
}