.breakdown-table {
  $table: &;

  @include md {
    max-width: 750px;
  }

  &-data {
    @include md {
      border-collapse: collapse;
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }

  h2#{$table}__heading {
    text-align: left;
    background: $color-grey-light;
    padding: $space-md;
    font-size: 1em;
    font-weight: 700;

    @include md {
      font-size: 1.3em;
    }

    span {
      width: 60%;
      display: inline-block;

      &:last-child {
        width: 39%;
        text-align: right;
      }
    }
  }

  p#{$table}__subheading {
    text-align: left;
    font-weight: 400;
    padding: 10px 28px;
    padding-bottom: $space-md;
    font-size: 0.9em;

    @include md {
      font-size: 1em;
    }
  }

  dl {
    border-bottom: 2px solid $color-grey-light;
  }

  &--check-answers {
    dl {
      border-bottom: none;
    }

    max-width: 750px;
    border-bottom: 2px solid $color-grey-light;
  }
}

.breakdown-table__row {
  padding: 10px 25px 10px 0;

  @include md {
    padding: 0;
    display: table-row;
  }

  &--summary {
    font-weight: 700;
  }

  &-key,
  &-value,
  &-link,
  &-payment {
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 0.9em;
    padding-left: $space-md;

    @include md {
      font-size: 1em;
      display: table-cell;
      padding: 10px 28px 10px 0;
    }
  }

  &-key {
    margin-bottom: 5px;
    font-weight: 700;

    @include md {
      padding-left: $space-md;
      font-weight: 400;
      width: 60%;
    }
  }

  &-value {
    white-space: pre-wrap;
    @include md {
      text-align: right;
      width: 40%;
    }
  }
}

.breakdown-table__row--answers {
  .breakdown-table__row-key {
    font-weight: 700;

    @include md {
      width: 45%;
    }
  }

  .breakdown-table__row-value {
    text-align: left;

    @include md {
      width: 35%;
    }
  }

  .breakdown-table__row-link {
    font-size: 0.8em;

    @include md {
      font-size: 1em;
      width: 20%;
    }
  }
}

.breakdown-table--review {
  margin-bottom: $space-lg;

  @include md {
    max-width: 1050px;
    margin-bottom: $space-xxl;
  }

  dl {
    margin: $space-sm 0;

    &:last-of-type {
      border-bottom: 8px solid $color-grey-light;
    }

    @include md {
      margin: $space-lg 0;
    }
  }

  h2.breakdown-table__heading {
    line-height: 1.5em;
  }

  .breakdown-table__row {
    &-key,
    &-value,
    &-payment {
      padding-left: 0;
    }
  }

  .breakdown-table__row-key {
    @include md {
      width: 30%;
    }
  }

  .breakdown-table__row-value {
    @include md {
      width: 50%;
    }
  }

  .row-link {
    @include md {
      margin-top: $space-md;
    }

    margin-bottom: $space-md;
  }

  .breakdown-table__row-link span {
    margin-top: 100px;
  }
}
