details {
  margin-bottom: $space-lg;

  summary {
    color: $color-blue-dark;
    cursor: pointer;
    // the little arrow disappears in firefox unless this is set explicitly
    display: list-item;
    margin-bottom: -$space-xs;

    // the summary element doesn't appear to accept underlined text
    > span {
      text-decoration: underline;
    }

    & + * {
      padding: $space-xxs $space-md;
      border-left: 5px solid $color-grey-light;
    }
  }
}
