header {
  padding: 0 0 0 0;

  button {
    padding: 0;
  }

  @include sm {
    padding: 0 0 $space-xl 0;
    text-align: right;
  }

  .language-link {
    text-align: left;
    margin-bottom: $space-sm;
    font-size: 0.6em;

    h2 {
      @include visuallyHidden();
    }

    button {
      background: none;
      color: $color-blue-dark;
      text-decoration: underline;
      border: 0;
    }

    @include sm {
      margin-bottom: 0;
      font-size: 0.85em;
    }
  }

  .canada-flag {
    width: 272px;
    margin-bottom: $space-sm;

    @include xs {
      width: 220px;
    }
    @include sm {
      width: 360px;
      margin-bottom: 0;
    }
  }
}
