header {
  padding: $space-xs 0 0 0;

  @include sm {
    padding: $space-lg 0 $space-xl 0;
  }

  .language-link {
    text-align: right;
    font-size: 0.85em;
    margin-bottom: $space-sm;

    @include sm {
      margin-bottom: 0;
    }
  }

  .canada-flag {
    width: 272px;
    @include xs {
      width: 282px;
    }
    @include sm {
      width: 360px;
    }
  }
}
