.offramp {
    width: 90%;

    p {
        margin-bottom: $space-lg;
    }

    div {
      p {
          margin-bottom: $space-md;
      }

      ul li {
          margin-bottom: $space-xxs;
        }
      
    } 
}