
$banner-height: 97px;
$banner-height-xl: 100px;

.survey-banner {
  background: #fff3cd;
  line-height: 1.33;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: $banner-height;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.1em;

  @include xl  {
    font-size: 1.25em;
    height: $banner-height-xl
  }

  div {
    @extend %page-container;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
  }
  
  span {
    font-weight: 700;
  }

  @include sm {
    align-items: center;
  }
}

.survey-banner + .page--container {
  margin-top: $banner-height;

  @include xl  {
    margin-top: $banner-height-xl;
  }
}

.fip-container {
  padding-top: $space-md;
}