include ../baseOfframpConfirmation

block content
  .offramp-confirmation
    .offramp-banner-container
      h1 #{__('You have reached the end of this section')}.

      h2 #{__('To continue, click anywhere outside this popup window.')}</strong>
