extends ../base
include ../_includes/banner

block variables
  -var title = 'Your taxes can’t be completed using this service'

block content

  h1 #{title}
  +blueBanner('Your tax return is too complex to be filed using this service. Nothing about your taxes is incorrect – see below for further instructions on how to complete your tax return.', 'blue', 'i')
  div
    p To finish filing your taxes for the current tax year (filing for 2018), you will need to do one of the following:
    ul
      li Use the paper form enclosed in the Claim Tax Benefits package you received in the mail
      li Contact CRA at (123) 456-7890 for help
      li File your taxes with another free service, listed here: #[a(href="#") Ways to file your taxes]

