extends ../base
include ../_includes/banner

block variables
  -var title = __('')

block content

  h1 #{title}

  
  
  div
    p #{__('Body: You can’t use this online service because Ontario was not your home province on December 31, 2019. But you can still file your taxes. Other free and secure ways to file are:')}

    div
      p #{__('For more information, contact CRA by:')}
      include ../_includes/phone-bullets
